.card {
  margin-top: 25%;
  width: 40rem;
  text-align: center;
  background-color: #1f2837;
  box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
  color: #e1052b ;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

.card-body {
  color: #CFD8DC  ;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.general_card {
  border-radius: 20px;
  background-color: #1f2837;
  color: #CFD8DC ;
  box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
  padding: 2%;
  margin: 5%;
}

.loading_card {
  text-align: center;
  justify-content: center;
  font-size: 100px;
  color: white ;
  padding: 2%;
  margin: 5%;
}

.loading_card img{
  height: 50px;
  width: 50px;
}

.main_card {
  max-width: 100%;
  background-color: #1f2837;
  color: #CFD8DC ;
  box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
  justify-content: center;
  padding: 2%;
  margin: 5%;
}

.general_card_body {
 color: #CFD8DC  ;
 justify-content: center;
 outline: #e1052b;
 outline-width: 5rem;
 box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 margin: auto;
 width: 50%;
}

body, html {
  height: 100%;
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}
  
.basic_btn {
  background-color: #edeff3;
  border-radius: 50px;
  border: 2px;
  color: #1f2837;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.basic_btn:hover  {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, white, 90%, red);
}

.dynamic_btn {
  background-color: #edeff3;
  border-radius: 50px;
  border: 2px;
  color: #1f2837;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  visibility: hidden;
}

.dynamic_btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, white, 90%, red);
}

.bg {
  background-color: #868a8f;
}

/* Menu Style  */
.hamburger-menu {
  height: 40px;
  background-color: #1f2837;
  z-index: 1;
}
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
  color: #e1052b;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 3px;
/* background-color: #616161; */
transition-duration: .25s;
background-color: #e1052b;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
  z-index: 1;
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
color: white;
background-color: #1f2837;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: white;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #e1052b;
color: #CFD8DC;
}

/* index page styles */

.floating-card-i {
  transform: translateY(-5%);
  animation: floater 6s infinite;
  transition: ease 0.5s;
}

.floating-card {
  transform: translateY(-5%);
  animation: floater 6s;
  transition: ease 0.5s;
  animation-iteration-count: 1;
}

@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}
